<!DOCTYPE html>
<head>
 <title>Calculator</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="container">
<form action={% url 'calc' %}>
    <h1 class="alert alert-info">Home</h1>
    <div class="radio">
        <label><input type="radio" name="optradio" value="+">Plus</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio" value="-">Minus</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio" value="/">Divison</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio" value="*" >Multiplication</label>
    </div>
    <br/>
    <input name="field1"></input>
    <input name="field2"></input>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>



